<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Spring Boot+WebSocket</title>
    <link rel="icon" type="image/png" href="./img/heart.png">
</head>
<body>
<noscript><h2 style="color: #ff0000">貌似你的浏览器不支持websocket</h2></noscript>
<div>
    <div id="conversationDiv">
        <input type="text" id="message" placeholder="请输入..."/>
        <button id="sendServer">发送</button>
        <button id="sendPublic">公共消息</button>
        <p id="response"></p>
    </div>
</div>
<script type="text/javascript" src="./js/common/sockjs.min.js"></script>
<script type="text/javascript" src="./js/common/stomp.min.js"></script>
<script type="text/javascript" src="./js/common/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var stompClientToServer = null;
        var socketToServer = new SockJS('/chat');
        //var socketToPublic=new SockJS('/chat');
        // 使用 STOMP子协议的WebSocket客户端(发消息给服务端)
        stompClientToServer = Stomp.over(socketToServer);
        stompClientToServer.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            // 通过stompClientToServer.subscribe 订阅 /tcpTopic/getResponse 目标发送的信息，对应控制器的 SendTo 定义
            stompClientToServer.subscribe('/tcpTopic/getResponse', function (response) {
                // 展示返回的信息，只要订阅了 /tcpTopic/getResponse 目标，都可以接收到服务端返回的信息
                showResponse(JSON.parse(response.body).responseMessage);
            });
        });

        // 使用 STOMP子协议的WebSocket客户端(发消息给所有客户端)
        // socketToPublic = Stomp.over(socketToServer);
        // socketToPublic.connect({}, function (frame) {
        //     console.log('Connected: ' + frame);
        //     // 通过 stompClient.subscribe 订阅 /tcpTopic/public 目标发送的信息，对应控制器的 SendTo 定义
        //     socketToPublic.subscribe('/tcpTopic/public', function (response) {
        //         // 展示返回的信息，只要订阅了 /tcpTopic/getResponse 目标，都可以接收到服务端返回的信息
        //         showResponse(JSON.parse(response.body).responseMessage);
        //     });
        // });

        $("#sendServer").on('click', function () {
            sendMessage();
        });

        function sendMessage() {
            // 向服务端发送消息
            let message = $('#message').val();
            /**
             *  通过 stompClient.send 向 /client/clientRequest(服务端)发送信息，对应控制器@MessageMapping中的定义
             *  其中要加入配置文件中registry.setApplicationDestinationPrefixes("/xxx")的:/xxx
             **/
            stompClientToServer.send("/client/clientRequest", {}, JSON.stringify({'requestMessage': message}));
            clearResponse();
        }

        /**
         * 公共消息
         */
        // function sendPublicMessage() {
        //     let message = $('#message').val();
        //     stompClient.send("/tcpTopic/public", {}, JSON.stringify({'requestMessage': message}));
        // }

        function showResponse(message) {
            // 接收返回的消息
            let response = $("#response");
            response.html(message);
        }

        function clearResponse() {
            let response = $("#response");
            response.empty();
        }
    });
</script>
</body>
</html>